body{padding:0; margin:0;}
#monteserinGallery li{text-align:center;position: absolute; width:100%; height: 100%; left: 0; top:0;margin: 0; padding: 0}
#monteserinGallery img{box-shadow: 10px 50px 100px black; top:0; margin: auto; width:60%;}
ul{list-style: none; padding:0;}